section.about-us
  .text-center
    small.scroll-top.infinite SCROLL
  .container
    .row
      .col-md-6
        .section-title
          span.section-number 2
          h2.section-name About us
      .col-md-6
        .section-button
          a(href="#" data-toggle="modal" data-target="#contact-modal" class="btn default-button-offset") Send a message

    .about-body-copy
      p.description 
        | WE ARE A DIGITAL CREATIVE AGENCY. A SMALL AND EXPERIENCED
        | TEAM TAKING ON BIG CHALLENGES. 
        | WE MIX INNOVATION AND WISDOM TO CREATE THE ULTIMATE DIGITAL EXPERIENCE FOR
        | BRANDS AND COMPANIES.

      p 
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
        | the industry's standard dummy text ever since the 1500s, when an
        | unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
        | five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
        | was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
        | recently with desktop publishing software like Aldus PageMaker including 
        | versions of Lorem Ipsum.

      .row
        .col-md-12.text-center
          a.btn.default-button.orange-button.watch-more(href="https://youtube.com") 
            | Watch the video
            span  &rarr;
