section.contact
  .row
    .col-md-12.text-center
      p So, that's who we are.
      h2 Wanna work with us?
      p Just send us a message.
      a.btn.default-button-filled(data-toggle="modal"
      data-target="#contact-modal") Yes!
