header.hero-area
  section.hero-logo
    a(href="/")
      img(src="assets/logo.png")

  section.hero-slogan
    h1 Sky
      sup 9
      |  Creative
    p create with wisdom


  section.parallax-mountain
    .parallax-mountain-bg
    
  section.birds-section
    .hero-birds.infinite
      .bird-images
        .bird-1
        .bird-2
        .bird-3
        .bird-4
        .bird-5
        .bird-6
        .bird-7
        .bird-8
        .bird-9


  section.parallax-container  
    .parallax-1(data-0="top: 0px" data-150="top: 20px" data-250="top: 250px")
      img(src="assets/parallax-1.png")
    .parallax-2(data-0="top: 133px" data-150="top: 200px" data-250="top: 400px")
      img(src="assets/parallax-2.png")
    .parallax-3(data-0="20px" data-150="top: 50px" data-250="top: 450px")
      img(src="assets/parallax-3.png")
    .parallax-bottom
