section.work
  .container
    .row
      .col-md-12
        .section-title.pull-right
          .section-name Our Work
          .section-number-opposite 3

    .row
      .project-showcase.col-md-12
        .project-image
          .phones
            img.img-responsive.phone-wireframe(src="assets/phone-wireframe.png")
            img.img-responsive.phone-flat(src="assets/phone-flat.png")
        .project-description.row
          .col-md-8
            .project-info
              .project-number 1
              .project-name LKnet Media Group
              .project-desc / experential website
          .col-md-4.project-case-study-button
            a.btn.default-button-ghost.pull-right.margin-none(href="http://www.lk-net.com") View case study
