.contact {
  background: #fc7d48;
  padding: 105px 0;

  h2, p {
    font-weight: bold;
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 1.2em;
  }

  a {
    max-width: 320px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
}
